// FONTS
$Opensans: 'Opensans', 'Arial', sans-serif, -apple-system; // example
$Play: 'Play', 'Arial', sans-serif, -apple-system; // example

// BASE
$duration-default: 0.3s;
$transition-duration: 0.3s;
$ease: 0.3s ease;

// COLORS
$lifehacker: #ed5e42;
$black: #000;
$white: #fff;
$light-blue: #7DBFFF;
$dark-blue: #004373;
$blue: #00508A;
$blue-sky: #3373A1;
$aquamarine: #A4EFEC;
